.menu-header {
    width: 1900px;
    height: 70px;
    background-color: #313131;
    position: relative;
    display: flex;

}
.title {
    display: inline-flex;
    list-style-type: none;
    height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
    font-style: normal;
    font-weight: 600;
    font-family: Ubuntu;
}
.logo {
    width: 81px;
    height: 70px;
    margin-left: 0;
    margin-top: 0;
    padding-left: 27px;
    padding-top: 22px;
}
.architect {
    display: flex;
    width: 124px;
    height: 22px;
    margin-top: 22px;
    margin-left: 0;
}
.home {
    width: 46px;
    margin-left: 474px;
    margin-top: 8px;
}
.home:hover {
    color: #1489D5;
}
.item2,.item3,.item4,.item5,.item6 {
    /*width: 169px;*/
    margin-left: 35px;
    margin-top: 8px;
}
.hunting {
    width: 68px;
    height: 70px;
    background-color: black;
    margin-top: 0;
margin-left: 363px;
    }
.magnifier {
    width: 17px;
    height: 17px;
    margin-left: 28px;
    margin-top: 28px;
}
.first-background {
background-image: url("./images/header-background.png");
    width: 1900px;
    height: 369px;
    margin-top: 0;
}
.background-title {
    display: flex;
    position: absolute;
width: 637px;
    height: 32px;
    margin-left: 658px;
    margin-top: 164px;
}
.green-btn,.blue-btn {
    width: 170px;
    height: 55px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-top: 240px;
    font-family: Ubuntu;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24.51px;
}
.green-btn {
    background-color: #89CA62;
    margin-left: 797px;

}
.blue-btn {
    background-color: #00CBF6;
    margin-left: 20px;
}
.main-part1 {
width: 1900px;
    height: 1030px;
    margin-top: 0;
    background-color: #F2F2F2;
   border: 1px solid transparent;
    }
.posts {
    width: 330px;
    height: 33px;
    margin-left: 791px;
    margin-top: 49px;
    font-family: Ubuntu;
    font-size: 27px;
    font-weight: bold;
    line-height: 36.77px;
    color: #18B4CF;
    text-transform: uppercase;
}
.flex-container {
    display: flex;
    height: 824px;
    width: 1170px;
    margin-top: 52px;
    margin-left: 370px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    }
.box-1 {
    height: 320px;
    width: 370px;
    margin-left: 0;
    margin-top: 0;
    }
.box-2 {
   height: 441px;
    width: 370px;
    margin-left: 25px;
    margin-top: 0;
}
.box-3 {
    height: 355px;
    width: 370px;
    margin-left: 25px;
    margin-top: 0;
}
.box-4 {
    height: 321px;
    width: 370px;
    margin-left: 0;
    margin-top: -95px;
}
.box-5 {
    height: 309px;
    width: 370px;
    margin-left: -80px;
    margin-top: 28px;
}
.box-6 {
    height: 441px;
    width: 370px;
    margin-left: -80px;
    margin-top: -61px;
}
.Vanglo-image {
    width: 370px;
    height: 259px;
}
.Sunrise-image {
    width: 370px;
    height: 380px;
}
.Stargaze-image {
    width: 370px;
    height: 290px;
}
.Royal-image {
    width: 370px;
    height: 260px;
}
.Sunset-image {
    width: 370px;
    height: 247px;
}
.Glorious-image {
    width: 370px;
    height: 380px;
}
.Box-title {
    font-family: Ubuntu;
    font-size: 18px;
    line-height: 24.51px;
    font-weight: bold;
    color: #353A3D;
    text-align: center;
    background-color: #F8FCFE;
    height: 61px;
    margin-top: 0;
    padding-top: 20px;
}

.main-part2 {
width: 1900px;
    height: 588px;
    background-image: url("./images/hall.png");
}
.popular-clients {
width: 496px;
    height: 44px;
    padding-top: 108px;
    margin-left: 702px;
    font-family: Ubuntu;
    font-size: 32px;
    line-height: 43.58px;
    font-weight: bold;
text-transform: uppercase;
    color: #FFFFFF;
}
.popular-clients-title {
    display: inline-flex;
    margin-left: 510px;
    margin-top: 195px;
    width: 931px;
    height: 55px;
    justify-content: space-between;
    align-content: center;
   }
.national-post {
width: 207px;
    padding-top: 18px;
    height: 34px;
  }
.dryme {
    width: 135px;
    height: 47px;
    padding-top: 5px;
  }
.house-home {
    width: 232px;
    height: 52px;
  }
.journy {
    width: 141px;
    height: 47px;
    padding-top: 5px;
 }
.main-part3 {
width: 1900px;
height: 325px;
border: 0.5px solid transparent;
}
.post1 {
    width: 177px;
    height: 33px;
    margin-left: 868px;
    margin-top: 49px;
    font-family: Ubuntu;
    font-size: 27px;
    font-weight: bold;
    line-height: 36.77px;
    color: #18B4CF;
    text-transform: uppercase;
}
.rated-photos {
    display: inline-flex;
    margin-top: 27px;
/*border: 0.5px solid greenyellow;*/
    height: 190px;
}
.main-part4 {
width: 1900px;
    height: 1683px;

    margin-top: 0;
}
.post2 {
    width: 170px;
    height: 33px;
    margin-left: 873px;
    margin-top: 52px;
    font-family: Ubuntu;
    font-size: 27px;
    font-weight: bold;
    line-height: 36.77px;
    color: #18B4CF;
    text-transform: uppercase;
}
.grid-container {
    width: 1194px;
    height: 1483px;
    margin-top: 49px;
    margin-left: 372px;
    margin-right: 361px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    grid-template-areas:
  "double-box1  double-box1 double-box1 double-box2"
  "double-box3  double-box3 double-box4 double-box4"
  "double-box5  double-box5 double-box6 double-box6"
  "double-box7  double-box8 double-box8 double-box8"
}
.grid-container > div {
    text-align: center;
    background-color: #F9F7F7;
}
.double-box1 {
    grid-area: double-box1;
    width: 856px;
    height: 259px;
    background-color: #F9F7F7;
   }
.double-box-image1 {
    width: 483px;
    height: 259px;
    position: absolute;
}
.start-end-text {
width: 350px;
height: 200px;
margin-top: 14px;
margin-right: 24px;
float: right;
font-size: 14px;
    line-height: 21px;
    text-align: right;
}
.start-end-title {
    margin-top: 31px;
    width: 319px;
    font-size: 18px;
    line-height: 25px;
    font-family: Ubuntu;
    font-weight: bold;
    color: #353A3D;
    margin-left: 30px;
    }
.double-box2 {
    grid-area: double-box2;
    width: 277px;
    height: 259px;
    background-color: #F9F7F7;
}
.box-title-2-7 {
    width: 223px;
    font-size: 18px;
    line-height: 20px;
    font-family: Ubuntu;
    font-weight: bold;
    color: #353A3D;
    margin-left: 27px;
    margin-top: 5px;
    }
.double-box3 {
    grid-area: double-box3;
    width: 554px;
    height: 418px;
    text-align: right;
    }
.box-text-container-3-6 {
    width: 555px;
    height: 157px;
    text-align: right;
    margin-top: -22px;
    }
.box-text-3-6 {
    font-size: 14px;
    line-height: 21px;
    padding-right: 14px;
    padding-left: 14px;
}
.box-title-3-6 {
    width: 325px;
    height: 25px;
    font-family: Ubuntu;
    font-size: 18px;
    line-height: 24.51px;
    font-style: normal;
    font-weight: bold;
    padding-right: 14px;
    margin-top: 32px;
    margin-left: 215px;
    }
.double-box4 {
    grid-area: double-box4;
    width: 554px;
    height: 418px;
   margin-left: 16px;
    }
.double-box5 {
    grid-area: double-box5;
    width: 554px;
    height: 418px;
   }

.double-box6 {
    grid-area: double-box6;
    width: 554px;
    height: 418px;
    margin-left: 16px;
    }
.double-box7 {
    grid-area: double-box7;
    width: 277px;
    height: 259px;
    background-color: #F9F7F7;
    }
.double-box8 {
    grid-area: double-box8;
    width: 856px;
    height: 259px;
    background-color: #F9F7F7;
    margin-left: 13px;
  }
.double-box-image8 {
    width: 483px;
    height: 259px;
    margin-left: 0;
    margin-top: 0;
}
.double-box-text8 {
    width: 374px;
    height: 259px;
    margin-left: 483px;
    margin-top: -259px;
}
.start-end-title1 {
    margin-top: 31px;
    width: 290px;
    height: 25px;
    font-size: 18px;
    line-height: 24.51px;
    font-family: Ubuntu;
    font-weight: bold;
    color: #353A3D;
    margin-left: 75px;
}
.footer {
    background-color: #000000;
    display: inline-flex;
    width: 1900px;
    height: 80px;
}
.rights {
    width: 512px;
    height: 30px;
    margin-left: 367px;
    margin-top: 29px;
    font-size: 13px;
    line-height: 13px;
    font-family: Ubuntu;
    color: #FFFFFF;
}
.vector-logo {
    width: 29px;
    height: 27px;
    margin-top: 29px;
    margin-left: 589px;
}
.LIOIT {
    width: 64px;
    height: 16px;
    margin-top: 29px;
    margin-left: 0;
}